ol, ul{
  list-style: none;
}
*{margin: 0;padding: 0px;}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body{margin: 0;overflow: hidden;}
#canvas{
  display: block;
  background: whitesmoke;
  position: fixed;
  top: 0px;
  left: 0px;
}
.actions{
  position: fixed; 
  top: 0px; 
  left:0px;
  padding: 20px;
}
.actions svg{width: 1.5em;height: 1.5em; transition: all 0.3s;margin: 0px 10px;}
.actions svg.active{fill: red;transform: scale(1.3)}
.colors{position: fixed;top: 50px;left: 24px;}
.colors2{position: fixed;top: 50px;left: 54px;}
.colors3{position: fixed;top: 50px;left: 86px;}
.colors > li{
  width: 20px;
  height: 20px;
  margin: 8px 0px;
  border-radius: 50%;
  box-shadow: 0 0 2px grey;
  transition: all 0.3s;
}
.colors2 > li{
  width: 20px;
  height: 20px;
  margin: 8px 0px;
  border-radius: 50%;
  box-shadow: 0 0 2px grey;
  transition: all 0.3s;
}
.colors3 > li{
  width: 20px;
  height: 20px;
  margin: 8px 0px;
  border-radius: 50%;
  box-shadow: 0 0 2px grey;
  transition: all 0.3s;
}
.colors > li.red{
  background: red;
}
.colors > li.green{
  background: green;
}
.colors > li.blue{
  background: blue;
}
.colors > li.active{
  box-shadow: 0 0 10px black;
  transform: scale(1.2);
}

.colors2 > li.yellow{
  background: yellow;
}
.colors2 > li.black{
  background: black;
}
.colors2 > li.gray{
  background: gray;
}
.colors2 > li.active{
  box-shadow: 0 0 10px black;
  transform: scale(1.2);
}

.colors3 > li.orange{
  background: orange;
}
.colors3 > li.purple{
  background: purple;
}
.colors3 > li.pink{
  background: pink;
}
.colors3 > li.active{
  box-shadow: 0 0 10px black;
  transform: scale(1.2);
}
.sizes{
  position: fixed;
  right: 40px;
  top: 10px;
}
.sizes > li{
    margin: 20px 0;
    transition: all 0.4s;
}
.sizes > .thin{
  height: 0;
  width: 50px;
  border-top: 3px solid black;
}

.sizes > .thin.active{
  box-shadow: 0 0 10px red;
  transform: scale(1.2);
}
.sizes > .thick{
  height: 0;
  width: 50px;
  border-top: 6px solid black;
}
.sizes > .thick.active{
  box-shadow: 0 0 10px red;
  transform: scale(1.2);
}